body {
    font-family: 'Montserrat';
}

#header {
    height: 70px;
    background-color: #B665A4;
    padding: 10px 10%;
}

#logo-img {
    text-align: right;
    padding: 0;
    background-color: #B665A4;
}

#menu-bar {
    background-color: #F3F3F3;
    margin-top: 0px;
    padding: 5px 10%;
}

.DateInput_input {
    font-size: 15px;
    color:black;
}

.DateRangePickerInput_arrow_svg {
    width: 15px;
}

.DateInput {
    width: 100px;
}

#content {
    max-width: 100%;
}